<!-- Start Footer -->
<footer class="main-footer">
    <div class="container-fluid">
        <small><a href="impressum.html" style="color: #FFFFFF">{% if site.impressum %} {{ site.impressum }} {% endif %}</a></small>
        <small><a href="datenschutz.html" style="color: #FFFFFF">{% if site.datenschutz %} {{ site.datenschutz }} {% endif %}</a></small>
        <small><a href="copyright.html" style="color: #FFFFFF">{% if site.copyright %} {{ site.copyright }} {% endif %}</a></small>
    </div>
</footer>
<!-- End Footer -->
